h1 {
  font-family:Handwriting;
  font-size:90px;
  margin:0;
  font-weight:normal;
  display: flex;
}

img {
  margin-top:0;
}

nav {
  background-color:#333333;
  padding:10px;
  height:20px;
}

nav a { 
  color:#FFFFFF;
  text-decoration:none;
  font-family:Handwriting;
  font-size:20px;
}

nav span { 
  color:#FFFFFF; 
  margin:10px; 
  font-size:20px;
}

.right-align {
  float:right;
}

.notebook {
	line-height: 2;
}

.blocklink {
    background-color:#E0E0E0;
	margin:20px;
	padding:10px;
	border-radius:10px;
	display:block;
	color:black;
	text-decoration:none;
}
.blocklink:hover {
    background-color:#D0D0D0;
}

h2,p {
	margin:0;
}

form {
  margin-top: 5px;
}

#title {
  width: 50%;
  font-size:20px;
}

#body {
  width:80%;
  height: 60vh;
}