h1 {
  font-family:Handwriting;
  font-size:90px;
  margin:0;
  font-weight:normal;
  display: flex;
}

img {
  margin-top:0;
}

nav {
  background-color:#333333;
  padding:10px;
  height:20px;
}

nav a { 
  color:#FFFFFF;
  text-decoration:none;
  font-family:Handwriting;
  font-size:20px;
}

nav span { 
  color:#FFFFFF; 
  margin:10px; 
  font-size:20px;
}

.right-align {
  float:right;
}